.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(132, 235, 64) !important;
    color: blue !important;
    position: center;
    bottom: 0;
    left: 0;
    width: 100%;
  }