<<<<<<< HEAD
.movie:hover{
    opacity:0.8; 
}

.image{
    position: relative;
    background-color: white;
=======
.movie:hover{
    opacity:0.8; 
    cursor: pointer;
}

.image{
    position: relative;
    background-color: white;
>>>>>>> cad058d11a4b8170c7e7a444c10c603a899fa007
}